body{
	background-color: #EEEEEE;
}

.body{
  width: 78vw;
  padding: 0;
  margin: auto;
	padding-bottom: 200px;
  list-style-type: none;
}

.container{
	background-color: #FFFFFF;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	height: auto;
	width: max-content;
}

.column {
	float: left;
}

.column.middle {
	margin: 0; 
	padding: 32px 0;
	width: 60%;
}

.column.left {
	width: 20%;
}

.column.right {
	padding-top: 58px;
	width: 20%;
}

.product-image{
	width: 180px;
	height: 180px;
	border-radius: 4px;
	padding: 16px;
}

.product-price {
  display: inline-block;
  font-size: 24px;
	margin: 0 ;
	padding:16px 0 8px;
	
}

.product-price-decimals {
  font-size: 12px;
  position: relative;
  bottom: 7px;
}

.title {
  font-size: 18px;
}

p {
	font-size: 12px;
	margin:0;
}

hr { 
	display: block; 
	border: 0; 
	border-top: 1px solid #EEEEEE;
	margin: 0 16px; 
	padding: 0; 
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover 
{
	color:#666666; 
	text-decoration:none; 
	cursor:pointer;  
}

.free-shipping {
	height: 16px;
	width: 16px;
	background: no-repeat url("../images/ic_shipping.png") 50% #EEEEEE;
	border-radius: 50%;
	display: inline-block;
	margin-right: 4px;
	vertical-align: middle;
	margin: 0 0 7px 10px;
	}